body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.calculator{
    flex: 1;
    border: 5px solid black;
    border-radius: 15px;
    
    padding: 50px;
    margin-top: 75px;
    margin-left: 700px;
    margin-right: 700px;
}

.displaybox{
    height: 200px;
}

.displaynumber,
.displayequation{
    text-align: end;
    padding: 40px;
    font-size: x-large;
}

.buttonbox{
    display: grid;
    grid-template-columns: 110px 110px 110px 110px;
    gap: 10px;
}

.btn{
    height: 100px;
    width: 100px;
    border-radius: 25px;
    font-size: x-large;
}